<div *ngIf="admin">
  <h2>Edit: {{admin.username}}</h2>
  <div>
    <label>id: </label>{{admin._id}}</div>
  <div>
    <label>username: </label>
    <input [(ngModel)]="admin.username" placeholder="username" />
  </div>
  <div>
    <label>email: </label>
    <input [(ngModel)]="admin.email" placeholder="email" />
  </div>
  <button (click)="goBack()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Back</button>
  <button (click)="save()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save</button>
</div>
