<h2>Accesses</h2>

<ul class="heroes">
  <li *ngFor="let access of accesses"
      [class.selected]="access === selectedAccess"
      (click)="onSelect(access)">
    <span class="badge">{{access.shortId}}</span> {{access.siteTitle}} - {{access.creationDate | date:'d.M.y hh :mm:ss' }}

  </li>
</ul>
<div *ngIf="selectedAccess">
  <h2>
    {{selectedAccess.siteTitle | uppercase}}
  </h2>
  <div>
    <label>id: </label>{{selectedAccess._id}}
  </div>
  <div>
    <label>siteId: </label>
    {{selectedAccess.siteId}}
  </div>
  <div>
    <label>used: </label>
    {{selectedAccess.used}}
  </div>
  <div>
    <label>Date: </label>
    {{ selectedAccess.creationDate | date:'d.M.y HH:mm:ss' }}
  </div>
  <button (click)="gotoDetail()">Edit Details</button>
</div>
