<h2>Accesses</h2>
<div>
  <label>Access name:</label> <input #siteId />
  <button (click)="add(siteId.value); siteId.value=''">
    Add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let access of accesses"
      [class.selected]="access === selectedAccess"
      (click)="onSelect(access)">
    <span class="badge">{{access.shortId}}</span> Used: {{access.used}}
    <button class="delete" (click)="delete(access); $event.stopPropagation()">x</button>

  </li>
</ul>
<div *ngIf="selectedAccess">
  <h2>
    {{selectedAccess.id | uppercase}} is my Access
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
