<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Sites</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">ID</th>
                        <th>Title</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let site of sites" [class.selected]="site === selectedSite" (click)="onSelect(site)">
                        <td class="mdl-data-table__cell--non-numeric">{{site.shortId}}</td>
                        <td>{{site.title}}</td>
                        <td>
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons" (click)="delete(site); $event.stopPropagation()">delete_forever</i>
                            </button>
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons" (click)="onSelect(site)">open_in_new</i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons" (click)="new()">add_circle_outline</i>
                </button>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
        <div *ngIf="detailEditMode == 'detail'">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Detail: {{selectedSite.title}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="group readonly">
                        <input type="text" class="readonly" readonly value="{{selectedSite._id}}">
                        <span class="bar"></span>
                        <label>Id</label>
                    </div>
                    <div class="group readonly">
                        <input type="text" class="readonly" readonly value="{{selectedSite.title}}">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>title</label>
                    </div>
                    <div class="group readonly">
                        <input type="text" class="readonly" readonly value="{{selectedSite.clientId}}">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>clientId</label>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a (click)="edit()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Edit
                    </a>
                    <a (click)="delete(selectedSite)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Delete
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="detailEditMode == 'edit'">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Edit: {{editedSite.title}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="group readonly">
                        <input type="text" class="readonly" readonly value="{{editedSite._id}}">
                        <span class="bar"></span>
                        <label>Id</label>
                    </div>
                    <div class="group">
                        <input type="text" required [(ngModel)]="editedSite.title">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>title</label>
                    </div>
                    <div class="group">
                        <input type="text" required [(ngModel)]="editedSite.clientId">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>clientId</label>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a (click)="goBack()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Back
                    </a>
                    <a (click)="save()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Save
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="detailEditMode == 'new'">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Add new Site</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="group">
                        <input type="text" required #title hasFocus="true">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>title</label>
                    </div>
                    <div class="group">
                        <input type="text" required #clientId>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>clientId</label>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a (click)="add({title: title.value, clientId: clientId.value}); title.value=''; clientId.value='';" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Add
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>



