<h2>Sites</h2>
<div>
  <label>Site name:</label> <input #title />
  <label>Site clientId:</label> <input #clientId />
  <button (click)="add({title: title.value, clientId: clientId.value}); title.value=''; clientId.value='';">
    Add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let site of sites"
      [class.selected]="site === selectedSite"
      (click)="onSelect(site)">
    <span class="badge">{{site.shortId}}</span> {{site.title}}
    <button class="delete" (click)="delete(site); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedSite">
  <h2>
    {{selectedSite.title | uppercase}}
  </h2>
  <div>
    <label>id: </label>{{selectedSite._id}}
  </div>
  <div>
    <label>title: </label>
    {{selectedSite.title}}
  </div>
  <div>
    <label>clientId: </label>
    {{selectedSite.clientId}}
  </div>
  <button (click)="gotoDetail()">Edit Details</button>
</div>
