
<div class="clearfix">
  <div class="dashboard-box">
    <h2>Sites</h2>
    <div>
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="title1" >
          <label class="mdl-textfield__label" for="title1">Site name:</label>

        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="clientId1" #entId>
          <label class="mdl-textfield__label" for="clientId1">Site clientId:</label>

        </div>

        <button (click)="add({title: title.value, clientId: clientId.value}); title.value=''; clientId.value='';" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Add
        </button>
      </form>
    </div>
  </div>
</div>

<div class="clearfix">
  <div class="dashboard-box">

    <ul class="heroes">
      <li *ngFor="let site of sites"
          [class.selected]="site === selectedSite"
          (click)="onSelect(site)">
        <span class="badge">{{site.shortId}}</span> {{site.title}}
        <button class="delete" (click)="delete(site); $event.stopPropagation()">x</button>
      </li>
    </ul>
  </div>

  <div class="dashboard-box">
      <div *ngIf="detailEditMode == 'detail'">
        <h2>
          Detail: {{selectedSite.title}}
        </h2>
        <div>
          <label>id: </label>{{selectedSite._id}}
        </div>
        <div>
          <label>title: </label>
          {{selectedSite.title}}
        </div>
        <div>
          <label>clientId: </label>
          {{selectedSite.clientId}}
        </div>
        <button (click)="edit()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Edit Details</button>
      </div>

      <div *ngIf="detailEditMode == 'edit'">
        <h2>Edit: {{editedSite.title}}</h2>
        <div>
          <label>id: </label>{{editedSite._id}}
        </div>
        <div>
          <p>
            <label>title: </label>
            <input [(ngModel)]="editedSite.title" placeholder="title" />
          </p>
          <p>
            <label>clientId: </label>
            <input [(ngModel)]="editedSite.clientId" placeholder="clientId" />
          </p>
        </div>
        <button (click)="goBack()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Back</button>
        <button (click)="save()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save</button>
      </div>
    </div>
</div>


