<ion-header>
    <ion-navbar>
        <ion-title><img src="build/assets/img/icon.png" class="icon-inline"> FastLogin</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="home">

    <!--(channel id: {{barcodeData.channelid}})<br><br>-->

    <ion-card-header class="info" *ngIf="!loggedIn">
        <h3>{{barcodeData.sitetitle}}</h3>
        <div *ngIf="accountFound">Account found, you are ready to login.</div>
        <div *ngIf="!accountFound">Account not found, enter username and password.</div>
    </ion-card-header>

    <ion-card-header class="success" *ngIf="loggedIn">
        <h3>Login Success</h3>
        <div>Successfully logged in to {{barcodeData.sitetitle}}</div>
    </ion-card-header>

    <ion-card-content *ngIf="!loggedIn">

        <form class="list" [formGroup]="loginFrm" (ngSubmit)="login()" novalidate>
            <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input type="text" formControlName="username" [(ngModel)]="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-buttons>
                <button type="submit" block >Login</button>
            </ion-buttons>
        </form>

    </ion-card-content>


</ion-content>