<h2>Dashboard</h2>


<div class="dashboard-box">
  <h3>Accesses</h3>
  <ul class="heroes">
    <li *ngFor="let access of accesses"
        [class.selected]="access === selectedAccess"
        (click)="onSelectAccess(access)">
      <span class="badge">{{access._id | shortId}}</span> Used: {{access.used}}

    </li>
  </ul>
</div>
<div class="dashboard-box">
  <h3>Clients</h3>
  <ul class="heroes">
    <li *ngFor="let client of clients"
        [class.selected]="client === selectedClient"
        (click)="onSelectClient(client)">
      <span class="badge">{{client._id | shortId}}</span> Username: {{client.username}}

    </li>
  </ul>
</div>
<div class="dashboard-box">
  <h3>Sites</h3>
  <ul class="heroes">
    <li *ngFor="let site of sites"
        [class.selected]="site === selectedSite"
        (click)="onSelectSite(site)">
      <span class="badge">{{site._id | shortId}}</span> Title: {{site.title}}

    </li>
  </ul>
</div>
<div class="dashboard-box">
  <h3>Admins</h3>
  <ul class="heroes">
    <li *ngFor="let admin of admins"
        [class.selected]="admin === selectedAdmin"
        (click)="onSelectAdmin(admin)">
      <span class="badge">{{admin._id | shortId}}</span> Username: {{admin.username}}

    </li>
  </ul>
</div>

<div *ngIf="selectedAccess" class="clearfix">
  <h2>
    {{selectedAccess._id}} is my Access
  </h2>
  <button (click)="gotoAccessDetail()">View Details</button>
</div>

<div *ngIf="selectedAdmin" class="clearfix">
  <h2>
    {{selectedAdmin.username}} is my Admin
  </h2>
  <button (click)="gotoAdminDetail()">View Details</button>
</div>

<div *ngIf="selectedClient" class="clearfix">
  <h2>
    {{selectedClient.username}} is my Client
  </h2>
  <button (click)="gotoClientDetail()">View Details</button>
</div>

<div *ngIf="selectedSite" class="clearfix">
  <h2>
    {{selectedSite.title}} is my Site
  </h2>
  <button (click)="gotoSiteDetail()">View Details</button>
</div>
