<h2>Dashboard</h2>

<div class="clearfix">
  <div class="dashboard-box">
    <h3><a routerLink="/accesses">Accesses</a></h3>: {{ accessesLength }}
  </div>
  <div class="dashboard-box">
    <h3><a routerLink="/clients">Clients</a></h3>: {{ clientsLength }}
  </div>
  <div class="dashboard-box">
    <h3><a routerLink="/sites">Sites</a></h3>: {{ sitesLength }}
  </div>
</div>
<div class="clearfix">
  <div class="dashboard-box">
    <h3>Accesses</h3>
    <ul class="heroes wide">
      <li *ngFor="let access of accesses"
          [class.selected]="access === selectedAccess"
          (click)="onSelectAccess(access)">
        <span class="badge">{{access.shortId}}</span> {{access.siteTitle}} - {{access.creationDate | date:'d.M.y hh :mm:ss' }}

      </li>
    </ul>

  </div>
  <div class="dashboard-box">
    <div *ngIf="selectedAccess">
      <h2>
        Detail: {{selectedAccess.siteTitle}}
      </h2>
      <div>
        <label>id: </label>{{selectedAccess._id}}
      </div>
      <div>
        <label>siteId: </label>
        {{selectedAccess.siteId}}
      </div>
      <div>
        <label>used: </label>
        {{selectedAccess.used}}
      </div>
      <div>
        <label>Date: </label>
        {{ selectedAccess.creationDate | date:'d.M.y HH:mm:ss' }}
      </div>
    </div>
  </div>
</div>




