
<div class="clearfix">
    <div class="dashboard-box">


        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Accesses</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {{ accessesLength }}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a routerLink="/accesses" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    View Accesses
                </a>
            </div>
        </div>


    </div>
    <div class="dashboard-box">

        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Clients</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {{ clientsLength }}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a routerLink="/clients" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    View Clients
                </a>
            </div>
        </div>

    </div>
    <div class="dashboard-box">

        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Sites</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {{ sitesLength }}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a routerLink="/sites" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    View Sites
                </a>
            </div>
        </div>


    </div>
</div>
<div class="clearfix">

    <div class="dashboard-box">


        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Accesses</h2>
            </div>
            <div class="mdl-card__supporting-text">

                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">ID</th>
                        <th>Title</th>
                        <th>Access Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let access of accesses" [class.selected]="access === selectedAccess" (click)="onSelectAccess(access)">
                        <td class="mdl-data-table__cell--non-numeric">{{access.shortId}}</td>
                        <td>{{access.siteTitle}}</td>
                        <td>{{access.creationDate | date:'d.M.y hh :mm:ss' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <div class="dashboard-box">



        <div *ngIf="selectedAccess">

            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Detail: {{selectedAccess.siteTitle}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div>
                        <label>id: </label>{{selectedAccess._id}}
                    </div>
                    <div>
                        <label>title: </label>
                        {{selectedAccess.siteTitle}}
                    </div>
                    <div>
                        <label>Date: </label>
                        {{ selectedAccess.creationDate | date:'d.M.y HH:mm:ss' }}
                    </div>
                    <div>
                        <label>used: </label>
                        {{selectedAccess.used}}
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>




