<h2>Sites</h2>
<div>
  <label>Hero name:</label> <input #siteTitle />
  <button (click)="add(siteTitle.value); siteTitle.value=''">
    Add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let site of sites"
      [class.selected]="site === selectedSite"
      (click)="onSelect(site)">
    <span class="badge">{{site._id}}</span> {{site.title}}
    <button class="delete" (click)="delete(site); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedSite">
  <h2>
    {{selectedSite.title | uppercase}} is my Site
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
