
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Clients</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">ID</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let client of clients" [class.selected]="client === selectedClient" (click)="onSelect(client)">
                        <td class="mdl-data-table__cell--non-numeric">{{client.shortId}}</td>
                        <td>{{client.username}}</td>
                        <td>
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons" (click)="delete(client); $event.stopPropagation()">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons" (click)="new()">add_circle</i>
                </button>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
        <div *ngIf="detailEditMode == 'detail'">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Detail: {{selectedClient.username}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div>
                        <label>id: </label>{{selectedClient._id}}
                    </div>
                    <div>
                        <label>username: </label>
                        {{selectedClient.username}}
                    </div>
                    <div>
                        <label>email: </label>
                        {{selectedClient.email}}
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a (click)="edit()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Edit
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="detailEditMode == 'edit'">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Edit: {{editedClient.username}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div>
                        <label>id: </label>{{editedClient._id}}
                    </div>
                    <div>
                        <label>username: </label>
                        <input [(ngModel)]="editedClient.username" placeholder="username"/>
                    </div>
                    <div>
                        <label>email: </label>
                        <input [(ngModel)]="editedClient.email" placeholder="email"/>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a (click)="goBack()"class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Back
                    </a>
                    <a (click)="save()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Save
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="detailEditMode == 'new'">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Add new Client</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div>
                        <label>Usename: </label><input #username/>
                    </div>
                    <div>
                        <label>Password: </label><input #password/>
                    </div>
                    <div>
                        <label>Email: </label><input #email/>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a (click)="add({username: username.value, password: password.value, email: email.value}); username.value=''; password.value=''; email.value='';" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Add
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">

    </div>
</div>




