
<div class="clearfix">
  <h2>Clients</h2>
  <div>
    <label>Usename:</label> <input #username />
    <label>Password:</label> <input #password />
    <label>Email:</label> <input #email />
    <button md-raised-button color="primary" (click)="add({username: username.value, password: password.value, email: email.value}); username.value=''; password.value=''; email.value='';">Add</button>
  </div>
</div>

<div class="clearfix">
  <div class="dashboard-box">
    <ul class="heroes">
      <li *ngFor="let client of clients"
          [class.selected]="client === selectedHero"
          (click)="onSelect(client)">
        <span class="badge">{{client.shortId}}</span> {{client.username}}
        <button class="delete" (click)="delete(client); $event.stopPropagation()">x</button>

      </li>
    </ul>
  </div>

  <div class="dashboard-box">
      <div *ngIf="detailEditMode == 'detail'">
        <h2>
          Detail: {{selectedClient.username}}
        </h2>
        <div>
          <label>id: </label>{{selectedClient._id}}
        </div>
        <div>
          <label>username: </label>
          {{selectedClient.username}}
        </div>
        <div>
          <label>email: </label>
          {{selectedClient.email}}
        </div>
        <button (click)="edit()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Edit Details</button>
      </div>

      <div *ngIf="detailEditMode == 'edit'">
        <h2>
          Edit: {{editedClient.username}}
        </h2>
        <div>
          <label>id: </label>{{editedClient._id}}</div>
        <div>
          <label>username: </label>
          <input [(ngModel)]="editedClient.username" placeholder="username" />
        </div>
        <div>
          <label>email: </label>
          <input [(ngModel)]="editedClient.email" placeholder="email" />
        </div>
        <button (click)="goBack()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Back</button>
        <button (click)="save()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save</button>
      </div>
  </div>
</div>
