<h2>Clients</h2>
<div>
  <label>Client name:</label> <input #clientName />
  <button (click)="add(clientName.value); clientName.value=''">
    Add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let client of clients"
      [class.selected]="client === selectedHero"
      (click)="onSelect(client)">
    <span class="badge">{{client.shortId}}</span> {{client.username}}
    <button class="delete" (click)="delete(client); $event.stopPropagation()">x</button>

  </li>
</ul>
<div *ngIf="selectedClient">
  <h2>
    {{selectedClient.username | uppercase}} is my client
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
