<div *ngIf="dialogType === 'delete'">
    <h3>{{'title.deleteEntry' | translate }}</h3>
    <p>{{'message.confirmDelete' | translate }}</p>
    <button class="mdl-button mdl-js-button mdl-button--primary" (click)="dialogRef.close(true)">{{'button.deleteEntry' | translate }}</button>
    <button class="mdl-button mdl-js-button " (click)="dialogRef.close(false)">{{'button.noGoBack' | translate }}</button>
</div>

<div *ngIf="dialogType === 'login'">
    <h3>{{'title.wrongPassword' | translate }}</h3>
    <p>{{'message.wrongPassword' | translate }}</p>
    <button class="mdl-button mdl-js-button mdl-button--primary" (click)="dialogRef.close(true)">{{'button.tryAgain' | translate }}</button>
</div>

<div *ngIf="dialogType === 'hello'">
    <h3>{{'label.hello' | translate }} {{loginService.admin.firstname}} {{loginService.admin.lastname}}</h3>
    <p>{{'message.helloAdmin' | translate }}</p>
    <button class="mdl-button mdl-js-button mdl-button--primary" (click)="dialogRef.close(true)">{{'button.close' | translate }}</button>
</div>
