<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <img class="mdl-layout-icon" src="/assets/img/icon-60.png"/>
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a routerLink="/dashboard">Fastlogin</a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->

            <nav *ngIf="loginService.isLoggedIn()" class="mdl-navigation mdl-layout--large-screen-only">
                <!--*ngIf="userSession"-->

                <a routerLink="/dashboard" class="mdl-navigation__link" [class.active-route]="viewState === 'dashboard'" (click)="setViewState('dashboard')">Dashboard</a>
                <a routerLink="/sites" class="mdl-navigation__link" [class.active-route]="viewState === 'sites'" (click)="setViewState('sites')">Sites</a>
                <a routerLink="/accesses" class="mdl-navigation__link" [class.active-route]="viewState === 'accesses'" (click)="setViewState('accesses')">Accesses</a>
                <a routerLink="/clients" class="mdl-navigation__link" [class.active-route]="viewState === 'clients'" (click)="setViewState('clients')">Clients</a>
                <a routerLink="/admins" class="mdl-navigation__link" [class.active-route]="viewState === 'admins'" (click)="setViewState('admins')">Admins</a>
                <a (click)="logout()" class="mdl-navigation__link">Logout</a>


                <button id="demo-menu-lower-right"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item">Some Action</li>
                    <li class="mdl-menu__item">Another Action</li>
                    <li disabled class="mdl-menu__item">Disabled Action</li>
                    <li class="mdl-menu__item">Yet Another Action</li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">

        <div class="page-content">
            <div class="main-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>


