<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <img class="mdl-layout-icon" src="/assets/img/icon-60.png"/>
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a routerLink="/dashboard">Fastlogin</a> </span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->

            <nav *ngIf="loginService.isLoggedIn()" class="mdl-navigation mdl-layout--large-screen-only">
                <!--*ngIf="userSession"-->

                <a routerLink="/dashboard" class="mdl-navigation__link" [class.active-route]="viewState === 'dashboard'" (click)="setViewState('dashboard')">{{
                    'navigation.dashboard' | translate }}</a>
                <a routerLink="/sites" class="mdl-navigation__link" [class.active-route]="viewState === 'sites'" (click)="setViewState('sites')">{{
                    'navigation.sites' | translate }}</a>
                <a routerLink="/accesses" class="mdl-navigation__link" [class.active-route]="viewState === 'accesses'" (click)="setViewState('accesses')">{{
                    'navigation.accesses' | translate }}</a>
                <a routerLink="/clients" class="mdl-navigation__link" [class.active-route]="viewState === 'clients'" (click)="setViewState('clients')">{{
                    'navigation.clients' | translate }}</a>
                <a routerLink="/admins" class="mdl-navigation__link" [class.active-route]="viewState === 'admins'" (click)="setViewState('admins')">{{
                    'navigation.admins' | translate }}</a>

                <!-- menu opens when trigger button is clicked -->
                <button md-icon-button [md-menu-trigger-for]="menu">
                    <md-icon>more_vert</md-icon>
                </button>
                <md-menu #menu="mdMenu" id="mobilemenu">
                    <button md-menu-item (click)="onHelloMessage()">{{'label.hello' | translate }} {{loginService.admin.firstname}} {{loginService.admin.lastname}}</button>
                    <button md-menu-item *ngIf="appConfig.appLang == 'en'" (click)="changeLang()">{{'button.changeLanguage' | translate }}</button>
                    <button md-menu-item *ngIf="appConfig.appLang == 'de'" (click)="changeLang()">{{'button.changeLanguage' | translate }}</button>
                    <div id="mobilenav">
                        <button routerLink="/dashboard" md-menu-item>{{'navigation.dashboard' | translate }}</button>
                        <button routerLink="/sites" md-menu-item>{{'navigation.sites' | translate }}</button>
                        <button routerLink="/accesses" md-menu-item>{{'navigation.accesses' | translate }}</button>
                        <button routerLink="/clients" md-menu-item>{{'navigation.clients' | translate }}</button>
                        <button routerLink="/admins" md-menu-item>{{'navigation.admins' | translate }}</button>
                    </div>
                    <button md-menu-item (click)="logout()">{{'button.logout' | translate }}</button>
                </md-menu>
            </nav>
            <div class="changelang" *ngIf="!loginService.isLoggedIn()">
                <span *ngIf="appConfig.appLang == 'en'"><a (click)="changeLang()">{{'label.changeLanguage' | translate }}</a></span>
                <span *ngIf="appConfig.appLang == 'de'"><a (click)="changeLang()">{{'label.changeLanguage' | translate }}</a></span>
            </div>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="main-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>


